.sec {
    padding: 80px 0;
}

.con {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.tit,
.sub_tit {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.tit h2 {
    font-size: 28px;
    font-weight: 600;
}

.sub_tit h3 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 500;
}